# Project exclude paths
/Mybatis-Study/mybatis-01/target/
/Mybatis-Study/mybatis-02/target/
/Mybatis-Study/mybatis-03/target/
/Mybatis-Study/mybatis-04/target/
/Mybatis-Study/mybatis-05/target/
/Mybatis-Study/mybatis-06/target/
/Mybatis-Study/mybatis-07/target/
/Mybatis-Study/mybatis-08/target/
/Mybatis-Study/mybatis-09/target/